@import "../color/colors";

@ant-prefix: ant;

@primary-color: #FBBB69;

@primary-1: color(tint(@primary-color, 90%));
@primary-2: color(tint(@primary-color, 80%));
// Color used to control the text color in many active and hover states.
@primary-5: color(tint(@primary-color, 20%)); 
// Color used to control the text color of active buttons.
@primary-6: color(shade(@primary-color, 5%));

@item-active-bg: @primary-1;
@item-hover-bg: @primary-1;