.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.options {
  margin-bottom: 20px;
}

.bottonEditor {
    height: 50px;
    width: 50px;
    border-radius: 2px;
    border: 1px solid #ddd;
}

.page-appear {
  opacity: 0.01;
}

.page-appear.page-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.editorPreview-enter {
  opacity: 0.01;
}

.editorPreview-enter.editorPreview-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.editorPreview-leave {
  opacity: 1;
}

.editorPreview-leave.editorPreview-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}