.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 10px;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
}

.synopsis-appear {
  opacity: 0.01;
}
.synopsis-appear.synopsis-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.sgnBox-appear {
  opacity: 0.1;
}
.sgnBox-appear.sgnBox-appear-active {
  opacity: 1;
  transition: opacity 700ms ease-in;
}

$bg-color: #F5D773;

.page {
    background: url('../assets/bg_baseColour.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}
.syno {
    font-size: 14px;
    float: left;
    padding-right: 50px;
}
.navBar {
    height: 75px;
    width: 100%;
    padding: 20px;
    background-color: $bg-color;
    font-size: 14px;
    flex-direction: column;
}
.logo {
    align-items: left;
    width: 130px;
    height: 25px;
}
.menu {
    background-color: transparent;
    float: right;
}
.link {
    color: white;
    text-decoration: none;
    &:hover {
        color: #577380;
    }
}
.box {
    background-color: #F2F2F2;
    height: 60%;
    width: 70%;
    border-radius: 15px;
}
.signinBox {
    @extend .box;
    align-items: left;
}
.signupBox {
    @extend .box;
    margin-top: 50px;
    margin-bottom: 500px;
}
.formInput {
    border: none;
    border-radius: 4px;
    font-size: 12px;
    width: 80%;
    outline: 0;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: white;
    clear: left;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    &:invalid {
        //background-color: #e58787;
        -webkit-box-shadow: 1px 1px 0 #a05555;
        box-shadow: 1px 1px 0 #a05555;
        opacity: 0.6;
    }
}
.form {
    padding-top: 40px;
    span {
        padding-left: 25px;
    }
}
.button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $bg-color;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    &:hover {
        background-color: #577380;;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }
}
h1 {
    color: white;
    margin-bottom: 0px;
}
p {
    color: white;
}
span {
    color: #577380;
    min-height: 100px;
    box-sizing: border-box;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
}
.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}
.options {
  margin-bottom: 20px;
}
.bottonEditor {
    height: 50px;
    width: 50px;
    border-radius: 2px;
    border: 1px solid #ddd;
}
.tpList {
    background-color: #F2F2F2;
    opacity: 0.95;
    width: 80%;
    height: 80px;
    margin-bottom: 0px;
    border: 0.5px solid #ddd;
    padding: 0px 0px 0px 30px;
    margin-left: 10%;
}
.author {
    color: #577380;
}
.lang {
    @extend .formInput;
    width: 175px;
    height: 32px;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 20px;
}
.h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;
    margin-bottom: 0;
}
.footer {
    height: 20px;
}